.mle-component {

    lite-youtube {
        /* No Shadow */
        --lite-youtube-frame-shadow-visible: no;
        width: 100%;
        height: 100%;
    }

    .mle-lite-youtube-fallback {
        aspect-ratio: 16 / 9; /* matches YouTube player */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        text-align:center;
    }

    .mle-lite-youtube-fallback:focus {
        outline: 2px solid red;
    }
}
