.mlbrgn-mle-component {

    &.media-manager-single {
        .media-manager-preview-menu {
            position:absolute;
            left:0;
            right:0;
            bottom:0;
        }
    }

    .media-manager-video-preview,
    .media-manager-image-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1;
    }

    .media-manager-audio-preview {
        width:100%;
        height:100%;
    }

    .media-manager-preview-medium {
        max-width: 300px;
    }

    .media-manager-preview-media-container {
        max-width: 300px;
        //min-width: 200px;
        user-select:none;
    }

    .media-preview-image {
        position:relative;
    }

    .media-manager-preview-grid {
        display:grid;
        align-items: center;
        justify-items:start;
        grid-gap:1em;
        //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .media-manager-preview-menu {
        //position:absolute;
        //left:0;
        //right:0;
        //inset-block-end: 0;
        //bottom:0;
        //background-color: rgba($black,0.6);
        width: 100%;
        color: var(--mlbrgn-mle-preview-menu-fg-color);
        height: auto;
        max-height: 30%;
        padding: 0.3em;
        background-color: var(--mlbrgn-mle-preview-menu-bg-color);
        display: flex;
        justify-content: space-between;
        padding-inline: 1em;
        align-items: center;
        line-height: normal;
    }

    .media-manager-previews {
        padding-inline:0;
        position: relative;
        overflow: hidden;
    }

    .disable-pointer-events lite-youtube {
        pointer-events: none;
    }

    .mle-pseudo-button {
        background-color: var(--mlbrgn-mle-button-bg-color);
        color:white;
        text-align:center;
        border-radius: .3em;
        font-weight:bolder;
        user-select: none;
    }

    .mle-pseudo-button-icon {
        margin: 0;
        //margin-inline-start: .5rem;
        width: 30px;
        aspect-ratio: 1 / 1;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border:1px solid var(--mlbrgn-mle-button-alt-bg-color);
        color: var(--mlbrgn-mle-button-alt-fg-color);
    }

    .media-manager-preview-image-menu-end {
        display:flex;
        align-items: center;
        gap:.25rem;
    }

    .media-manager-no-media {
        aspect-ratio: 1;
    }
}
