.mle-media-lab {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:red;
}

.mle-media-lab-original {

}


.mle-media-lab-base {

}

.mle-media-lab-original {

}
