.mle-component {


    .mle-media-carousel-item-container {
        height:100%;
        width:100%;
        position:relative;
    }

    .mle-media-video-container {
        position: relative;
        width: 100%;
        height: 100%;

        //.mle-media-video-touch-overlay {
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //    right: 0;
        //    bottom: 0;
        //    z-index: 10;
        //    background: transparent;
        //    touch-action: pan-y; /* or auto, depending on swipe direction */
        //    opacity: 0.1;
        //}
    }
}
