.mle-component {

    .mle-media-preview-container {
        max-width: 400px;
        user-select:none;
    }

    .mle-media-preview-grid {
        display:grid;
        align-items: start;
        justify-items:start;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .mle-media-preview-menu {
        width: 100%;
        color: var(--mlbrgn-mle-preview-menu-fg-color);
        height: 40px;
        max-height: 30%;
        padding: 0.3em;
        background-color: var(--mlbrgn-mle-preview-menu-bg-color);
        display: flex;
        justify-content: space-between;
        padding-inline: 1em;
        align-items: center;
        line-height: normal;

        .mle-button,
        .mle-button-pseudo {
            margin:0;
        }
    }

    .mle-media-manager-previews {
        padding-inline:0;
        position: relative;
        overflow: hidden;
    }

    //.mle-disable-pointer-events lite-youtube {
    //    pointer-events: none;
    //}

    .mle-pseudo-button {
        background-color: var(--mlbrgn-mle-button-bg-color);
        color:white;
        text-align:center;
        border-radius: .3em;
        font-weight:bolder;
        user-select: none;
    }

    .mle-pseudo-button-icon {
        margin: 0;
        width: 30px;
        aspect-ratio: 1 / 1;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border:1px solid var(--mlbrgn-mle-button-alt-bg-color);
        color: var(--mlbrgn-mle-button-alt-fg-color);
    }

    //* start of checkbox to select items
    .mle-checkbox-wrapper {
        cursor: pointer;
        overflow: hidden;

        &.mle-pseudo-button-icon {
            width: 30px;
            border-width:0;
        }
    }

    label.mle-pseudo-button-icon.mle-checkbox-wrapper {
        margin-block:0;
    }

    .mle-media-select-checkbox {
        display: none;
    }

    .mle-media-select-checkbox + .mle-pseudo-button {
        background: #eee;
        border-radius: 4px;
    }

    .mle-media-select-checkbox:checked + .mle-pseudo-button {
        background: #0d6efd;
        color: #fff;
    }

    .mle-media-select-indicator {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #fff;
    }

    .mle-media-select-checkbox {
        display: none;
    }

    .mle-media-select-checkbox:checked + .mle-media-select-indicator {
        background: #0d6efd;
        border-color: #0d6efd;
    }
    // emd of select box to select items

    .mle-media-preview-item {
        aspect-ratio: 1;
    }

    .mle-media-preview-menu-start,
    .mle-media-preview-menu-end {
        display:flex;
        align-items: center;
        gap:.25rem;
    }

    .mle-media-manager-no-media {
        aspect-ratio: 1;
    }
}
