@import "media_lab_info_grid";

.mle-component {
    &.mle-media-lab {
        min-width:680px;
        position:relative;

        .mle-media-preview-container {
            border-radius:0 !important;
                max-width:unset;
        }
    }

    .mle-media-lab-preview {
        display:flex;
        flex-direction: column;
    }

    .mle-media-lab-preview-original,
    .mle-media-lab-preview-base {
        height:100%;
        width:100%;
    }

    .mle-media-lab-title {
        background-color: var(--mlbrgn-mle-preview-menu-bg-color);
        font-weight: 900;
        padding: 0.5rem;
        text-align: center;
    }

    .mle-media-lab-info {
        background-color: var(--mlbrgn-mle-preview-menu-bg-color);
        font-weight: 900;
        padding: 0;
        text-align: center;
        border-radius: 0;
    }

    .mle-media-lab-info-table {
        width:100%;
        height:100px;
        overflow:hidden;
        min-height: 150px;// TODO
    }
}
