/vendor
/node_modules
/.idea
/composer.lock
/dist/.vite
/public
.DS_Store
/phpunit.xml
/phpstan.neon
.env
/.phpunit.cache/
/.phpunit.result.cache
/.phpunit.cache/test-results
/tests/Support/tmp/
/.env.local
/dist/js/bootstrap.esm.js
/tests/Support/storage
/tests/Browser/Screenshots
/tests/.logs
/tests/database/mle-browser-tests-demo.sqlite
/tests/database/mle-browser-tests-demo-host-app.sqlite
/tests/database/mle-tests-demo.sqlite
/tests/database/mle-tests-demo-host-app.sqlite
/tests/Support/demo.sqlite
/tests/test-results.xml
/tests/database/mle-browser-tests.sqlite
/tests/database/mle-browser-tests-host-app.sqlite
/tests/database/mle-tests-host-app.sqlite
