* text=auto

*.md diff=markdown
*.php diff=php

/.github export-ignore
/docs export-ignore
/node_modules export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.pint.json export-ignore
/CHANGELOG.md export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist export-ignore
/vite.config.mjs export-ignore

/package.json export-ignore
/package-lock.json export-ignore



