:root {
    --mlbrgn-mle-color-primary: #007bff;
    --mlbrgn-mle-color-secondary: #6c757d;
    --mlbrgn-mle-color-accent: #ff5722;
    --mlbrgn-mle-container-light-bg: #ff5722;
    --mlbrgn-mle-container-ligher-bg: #ff5722;
}
