/*
 * General
 */

// scope css
.mlbrgn-mle-component {

    width:100%;
    height:100%;

    .mle-heading {
        margin-bottom: 1rem;
    }

    .mle-cursor-zoom-in {
        cursor: zoom-in;
    }
}
