/*
 * General
 */

// scope css
.mlbrgn-mle-component {

    .mle-width-100 {
        width:100%;
    }

    .mle-height-100 {
        height:100%;
    }

    .mle-video-responsive  {
        width:100%;
        height:100%;
        object-fit:contain;
    }

    .mle-image-responsive {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .mle-heading {
        margin-bottom: 1rem;
    }

    .mle-cursor-zoom-in {
        cursor: zoom-in;
    }

    .mle-display-none {
        display: none;
    }
}
