/*
 * Media manager modal
 */

.media-modal {

}
.media-modal-body {

}

.media-modal .modal {
    --bs-modal-padding: 0;
    --bs-modal-margin: 1em !important;
    --bs-modal-header-padding-x: 0;
    --bs-modal-header-padding-y: 0;
}

.media-preview-modal.modal,
.media-preview-modal .modal-body,
.media-preview-modal .modal-content
{
    overflow: hidden;
}

.media-modal {
    .modal-almost-fullscreen {
        width: 95vw !important;
        max-width: none;
        height: 95%;
        border-radius:.5em;
        overflow:hidden;

        .modal-content {
            padding:0;
            height: 100%;
            border: 0;
            box-sizing:border-box;
        }

        .modal-header,
        .modal-footer {
            border-radius: 0;
        }

        .btn-close {
            --bs-btn-close-opacity: 0.9;
            position: absolute;
            background-repeat:no-repeat;
            background-position: center center;
            border-radius:5px;
            top: 1rem;
            padding:0.5em;
            right: 1rem;
            z-index: 3;
            background-color: rgb(from var(--mlbrgn-mle-modal-close-button-bg) r g b / 70%);
        }

        .btn-close:focus-visible {
            outline: 4px solid rgb(from var(--mlbrgn-mle-color-primary) r g b / 70%);
            outline-offset: 0; /* Optional: adds spacing between button and outline */
            border-radius:0.5em;
        }
    }

}
