/*
 * Media carousel
 */
@use 'mixins/carousel' as carousel;

// TODO why is this needed / wherefore is it used
@media (hover: none) {
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: transparent;
    }
}

// TODO these are all classes in media-carousel
.mlbrgn-mle-component {

    .media-carousel {
        --carousel-indicator-width: 12px;
        --carousel-indicator-height: 12px;
        --carousel-indicator-active-bg: var(--bs-primary, #0d6efd); // fallback to Bootstrap's primary
        --carousel-indicator-hit-area-height: 6px;
        --carousel-indicator-active-opacity: 0.8;
        --carousel-indicator-spacer: 6px;

        --carousel-control-color-stop-1: #ffffff;
        --carousel-control-color-stop-2: #cccccc;
        --carousel-control-color-stop-3: #999999;
        --carousel-control-color-stroke: #333333;
        border:10px solid var(--carousel-control-color-stroke);
    }

    .media-carousel-indicators {
    }

    .media-carousel-inner {

    }
    .media-carousel-item-wrapper {

    }
    .previewed-image {

    }
    .cursor-zoom-in {

    }
    .image {

    }
    .image-zoomed {

    }
    .media-carousel-control-prev {

    }
    .media-carousel-control-prev-icon {

    }
    .media-carousel-control-next-icon {

    }
    .visually-hidden {

    }
}
