/*
 * Previewer
 */

.media-preview-medium-container img {
    height:auto;
}

.media-preview-medium-url {
    max-width:200px;
    word-break: break-all;
    padding:1em;
}

.media-preview-carousel {
    //@include preview-carousel-controls;

    width: 100%;
    height: 100%;

    .carousel-control-prev {
        border-radius:0;
        //border-top-left-radius: $border-radius;
        //border-bottom-left-radius: $border-radius;
        opacity:0.75;
    }

    .carousel-control-next {
        border-radius:0;
        //border-top-right-radius: $border-radius;
        //border-bottom-right-radius: $border-radius;
        opacity:0.5;
    }

    .carousel-inner {
        width:100%;
        height:100%;

        .carousel-item {
            width:100%;
            height:100%;

            .cursor-zoom-in {
                display:block;
                width:100%;
                height:100%;
            }

            .youtube-video {
                //border-radius:$border-radius;
                display:block;
                width:100%;
                height:100%;
            }

            img {
                //border-radius:$border-radius;
                display:block;
                width:100%;
                height:100%;
            }
        }
    }
}
