// Shared carousel control styles
@mixin carousel-controls {

    .carousel-item {
        height:100%;
    }

    .carousel-item-wrapper {
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 15%;
        bottom: 15%;
        width: 5%;
        min-width: 2.5em;
        transition: background-color 0.3s ease-in-out;
    }

    .carousel-control-prev {
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        left: 0;
    }

    .carousel-control-next {
        border-top-left-radius: 3em;
        border-bottom-left-radius: 3em;
        right: 0;
    }

    .carousel-control-prev.disabled,
    .carousel-control-next.disabled {
        opacity: 0.2;
        pointer-events: none; /* Prevents click events */
    }

    .carousel-control-prev:hover,
    .carousel-control-prev:focus-visible,
    .carousel-control-next:hover,
    .carousel-control-next:focus-visible {
        //background-color: rgba(var(--mlbrgn-mle-color-primary), 0.7);
        background-color: rgb(from var(--mlbrgn-mle-color-primary) r g b / 70%);
    }

    .carousel-indicators button:focus-visible {
        outline: 4px solid rgb(from var(--mlbrgn-mle-color-primary) r g b / 70%);
        outline-offset: 0; /* Optional: adds spacing between button and outline */
        border-radius:0.5em;
    }

    .carousel-indicators {
        position:absolute;
        top:1em;
        height:fit-content;
    }

    .carousel-inner {
        height:100%;
    }

    .image,
    .image-zoomed {
        height:100%;
        width:100%;
        object-fit:contain;
    }

    .carousel-image {
        height:100%;
        width:100%;
        object-fit:contain;
    }

    .image {
        cursor: zoom-in;
    }

    .image-zoomed {
        cursor: default;
    }

    .youtube-video {
        position:relative;
    }

    .youtube-play-button {
        position:absolute;
        top:50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%);
        fill:#f00;
        color:white;
        width:20%;
        height:auto;
        aspect-ratio:16/9;
    }
}
