// Shared carousel control styles
@mixin carousel-controls {

    .mle-media-carousel-item {
        height:100%;
    }

    .mle-media-carousel-control-prev,
    .mle-media-carousel-control-next {
        top: 15%;
        bottom: 15%;
        width: 5%;
        min-width: 2.5em;
        //transition: background-color .3s ease-in-out, color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
        background-color: rgb(from var(--mlbrgn-mle-carousel-control-bg-color) r g b / var(--mlbrgn-mle-carousel-control-bg-opacity));
        //color: var(--mlbrgn-mle-carousel-control-fg-color);
    }

    .mle-media-carousel-control-prev svg,
    .mle-media-carousel-control-next svg {
        fill: var(--mlbrgn-mle-carousel-control-fg-color);
        transition: fill 0.3s ease-in-out;
    }

    .mle-media-carousel-control-prev {
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        left: 0;
    }

    .mle-media-carousel-control-next {
        border-top-left-radius: 3em;
        border-bottom-left-radius: 3em;
        right: 0;
    }

    .mle-media-carousel-control-prev.disabled,
    .mle-media-carousel-control-next.disabled {
        opacity: 0.2;
        pointer-events: none; /* Prevents click events */
    }

    .mle-media-carousel-control-prev:hover,
    .mle-media-carousel-control-prev:focus-visible,
    .mle-media-carousel-control-next:hover,
    .mle-media-carousel-control-next:focus-visible {
        background-color: rgb(from var(--mlbrgn-mle-carousel-control-hover-bg-color) r g b / var(--mlbrgn-mle-carousel-control-hover-bg-opacity));
        //color: var(--mlbrgn-mle-carousel-control-hover-fg-color);
    }

    .mle-media-carousel-control-prev:hover svg,
    .mle-media-carousel-control-prev:focus-visible svg,
    .mle-media-carousel-control-next:hover svg,
    .mle-media-carousel-control-next:focus-visible svg {
        fill: var(--mlbrgn-mle-carousel-control-hover-fg-color);
    }

    .mle-media-carousel-indicators button:focus-visible {
        outline: 4px solid rgb(from var(--mlbrgn-mle-color-primary) r g b / 70%);
        outline-offset: 0; /* Optional: adds spacing between button and outline */
        border-radius:0.5em;
    }

    .mle-media-carousel-indicators {
        position:absolute;
        top:1em;
        height:fit-content;
    }

    .mle-media-carousel-indicators button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgb(from var(--mlbrgn-mle-control-non-active-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        border: none;
        cursor: pointer;
    }

    .mle-media-carousel-indicators button:hover {
        background-color: rgb(from var(--mlbrgn-mle-control-active-color) r g b / var(--mlbrgn-mle-control-hover-bg-opacity));
    }

    .mle-media-carousel-indicators button.active {
        background-color: rgb(from var(--mlbrgn-mle-control-active-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
    }

}
