/*
 * Image editor modal
 */

.mlbrgn-mle-component.theme-plain {

    image-editor,
    .image-editor {
        width:100%;
        height:100%;
    }

    .image-editor-modal-body {
        padding:0;
    }

}
