/*
 * Image editor modal
 */

.mle-component.mle-theme-plain {

    image-editor,
    .mle-image-editor {
        width:100%;
        height:100%;
    }

    .image-editor-modal-body {
        padding:0;
    }

}
