/*
 * Media manager
 */

.mlbrgn-mle-component {

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    &.media-manager {
        position:relative;
    }

    // multiple only css
    &.media-manager-multiple {
        .media-manager-preview {
            padding: 1em;
        }
    }

    // single only css
    &.media-manager-single {
        .media-manager-preview-medium-link {
            display: block;
            width: 100%;
            height: 100%;
        }

    }

    .media-manager-row {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap:1rem;
        //display: grid;
        ////grid-template-columns: 1fr; /* default: single column */
        //grid-gap: 1rem; /* gutter between columns */
        ////grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        //gap: 1rem;
    }

    //@media (min-width: 768px) {
    //    /* md breakpoint, equivalent to col-md-* */
    //    .media-manager-row {
    //        grid-template-columns: 1fr 3fr; /* 4/12 and 8/12 columns => 1:3 ratio */
    //    }
    //}


    .media-manager-preview-media-container {
        //aspect-ratio:1/1;
        background-color: #ccc;
        width:100%;
        height:100%;
        overflow:hidden;
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        //background-color:$neutral;
        border-radius: .3em;
    }

    .media-manager-preview-item-container {
        width: 100%;
        height:100%;
        aspect-ratio: 1;
    }

    .media-manager-debug {
        position:absolute;
        left:0;
        right:0;
        top:0;
        //background-color: rgba($black,0.6);
        height:auto;
        max-height:30%;
        padding:0.3em;
        background-color:slategray;
        color:yellow;
        z-index:1;

        a {
            color:yellow;
        }
    }

    .media-manager-preview {
        //background-color: $neutral-lighter;
        align-content:center;
        overflow:hidden;
    }

    .media-manager-form {
        width:33.3%;
    }

    .media-manager-previews {
        flex-grow:1;
    }

    .upload-container {
        padding: 2rem;
    }

    .media-manager-no-media {
        margin-block:0.7rem;
    }


    //
    // check form styles below
    //

    .form {
        max-width: 30rem;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background: #fff;
    }

    label {
        display: block;
        margin-block: 0.5rem;
    }

    //input[type="file"] {
    //    display: block;
    //    width: 100%;
    //    padding: 0.5rem;
    //    border: 1px solid #ccc;
    //    border-radius: 0.25rem;
    //    background-color: #fafafa;
    //    margin-bottom: 0.5rem;
    //    font-size: 1rem;
    //}

    form .form-text {
        font-size: 0.875rem;
        color: #555;
        margin-top: 0.25rem;
        margin-bottom: 0.75rem;
        display: block;
    }
    // custom file input

    /* Mimic Bootstrap 5's .form-label */
    //.form-label {
    //    display: inline-block;
    //    margin-bottom: 0.5rem;
    //    font-weight: 500;
    //    font-size: 1rem;
    //    color: #212529;
    //}

    .mle-input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;// TODO css var
        background-clip: padding-box;
        border: var(--mlbrgn-mle-control-border-width) solid var(--mlbrgn-mle-control-border-color);
        border-radius: var(--mlbrgn-mle-control-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin-bottom:0.5rem;
    }

    /* Mimic Bootstrap 5's .form-control for file input */
    .custom-file-input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        font-family: inherit;
        background-color: var(--mlbrgn-mle-control-bg-color);
        color: var(--mlbrgn-mle-control-input-color);
        background-clip: padding-box;
        border: var(--mlbrgn-mle-control-border-width) solid var(--mlbrgn-mle-control-border-color);
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .custom-file-input::file-selector-button {
        padding: .375rem .75rem;
        margin: -.375rem -.75rem;
        margin-inline-end: .7rem;
        font-family: inherit;
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: 1px;
        border-radius: 0;
        line-height:1.5rem;
        background-color: var(--mlbrgn-mle-file-selector-button-bg-color);
        color: var(--mlbrgn-mle-file-selector-button-fg-color);
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    .custom-file-input:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .custom-file-input:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--mlbrgn-mle-file-selector-button-hover-bg-color);
        color: var(--mlbrgn-mle-file-selector-button-hover-fg-color);
    }
}

.mle-status-message {
    position: relative;
    padding: 1.4rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.mle-status-message-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.mle-status-message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
