/*
 * Media manager single
 */

.mlbrgn-mle-component {

    .media-manager-single {
    }

    .media-manager-single-previews {

    }

    .media-manager-single-preview-menu {

    }

    .media-manager-single-preview-medium-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .media-manager-single-preview-medium {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
