/*
 * Media manager modal
 */

.mlbrgn-mle-component {

    &.media-modal {
        --modal-padding:20px;

        position:fixed;
        top:50%;
        left:50%;
        box-sizing:border-box;
        transform: translate(-50%,-50%);
        //border:10px solid hotpink;
        width: 100vw;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1050;
        //overflow:hidden;
    }

    &.media-modal.active {
        display: flex;
    }

    .media-modal-dialog {
        max-width:calc(100% - (2 * var(--modal-padding)));
        max-height:calc(100% - (2 * var(--modal-padding)));
        //border:10px solid yellow;
        border-radius:.5em;
        width:100%;
        height:100%;
        margin:0;
        overflow:hidden;
    }

    .media-modal-body {
        width:100%;
        height:100%;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }

    .media-modal-content {
        width:100%;
        height: 100%;
        padding:0;
        border: 0;
        box-sizing:border-box;
    }

    .media-modal-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 3;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: .25em;
        background-color: rgb(from var(--mlbrgn-mle-control-bg-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        color: var(--mlbrgn-mle-control-fg-color);
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .media-modal-close-button:hover {
        background-color: rgb(from var(--mlbrgn-mle-control-hover-bg-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        color: var(--mlbrgn-mle-control-hover-fg-color);
    }

    .media-modal-close-button svg {
        width: 100%;
        height: 100%;
        vertical-align: baseline;
    }

    .media-modal-close-button:focus-visible {
        outline: 4px solid rgb(from var(--mlbrgn-mle-control-focus-outline-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        outline-offset: 0;
        border-radius:0.5em;
    }

}
