/*
 * Media manager modal
 */

.mlbrgn-mle-component {

    &.media-modal {
        position: fixed;
        inset: 0;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius:.5em;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease, z-index 0s linear 0.3s;
        margin:1em;

        &.active {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            z-index: 1000;
            transition: opacity 0.3s ease, visibility 0.3s ease, z-index 0s;
        }

        .media-modal-dialog {
            background: white;
            //padding: 2rem;
            transform: translateY(-40px);
            transition: transform 0.3s ease;
        }

        &.active .media-modal-dialog {
            transform: translateY(0);
        }
    }

    //&.media-modal {
    //    --modal-padding:20px;
    //
    //    position:fixed;
    //    top:50%;
    //    left:50%;
    //    box-sizing:border-box;
    //    transform: translate(-50%,-50%);
    //    width: 100vw;
    //    height: 100vh;
    //    //display: none;
    //    align-items: center;
    //    justify-content: center;
    //    background-color: rgba(0, 0, 0, 0.75);
    //    z-index: 1050;
    //    //overflow:hidden;
    //
    //    &.active {
    //        display: flex;
    //        //.media-modal-dialog {
    //        //    transform: translateY(0);
    //        //}
    //    }
    //
    //    &.fade {
    //        opacity: 0;
    //        pointer-events: none;
    //        transition: opacity .3s ease;
    //    }
    //
    //    &.fade.active {
    //        opacity: 1;
    //        pointer-events: auto;
    //    }
    //
    //    // NEW: slide effect on dialog
    //    .media-modal-dialog {
    //        transform: translateY(-40px);
    //        transition: transform 0.3s ease;
    //    }
    //
    //    &.fade.active .media-modal-dialog {
    //        transform: translateY(0);
    //    }
    //}

    .media-modal-dialog {
        max-width:calc(100% - (2 * var(--modal-padding)));
        max-height:calc(100% - (2 * var(--modal-padding)));
        //border:10px solid yellow;
        border-radius:.5em;
        width:100%;
        height:100%;
        margin:0;
        overflow:hidden;

        // begin slide down effect
        //transform: translateY(-40px);
        //transition: transform 3s ease;
        // end slide down effect
    }

    .media-modal-body {
        width:100%;
        height:100%;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }

    .media-modal-content {
        width:100%;
        height: 100%;
        padding:0;
        border: 0;
        box-sizing:border-box;
    }

    .media-modal-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 3;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: .25em;
        background-color: rgb(from var(--mlbrgn-mle-control-bg-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        color: var(--mlbrgn-mle-control-fg-color);
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .media-modal-close-button:hover {
        background-color: rgb(from var(--mlbrgn-mle-control-hover-bg-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        color: var(--mlbrgn-mle-control-hover-fg-color);
    }

    .media-modal-close-button svg {
        width: 100%;
        height: 100%;
        vertical-align: baseline;
    }

    .media-modal-close-button:focus-visible {
        outline: 4px solid rgb(from var(--mlbrgn-mle-control-focus-outline-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        outline-offset: 0;
        border-radius:0.5em;
    }

}
