.mle-component {

    [data-mle-spinner-container] {
        color: #055160;
        background-color: #cff4fc;
        border: 1px solid #9eeaf9;
        border-radius: 0.375rem;
    }

    .mle-button,
    .mle-button-pseudo,
    {
        background-color: var(--mlbrgn-mle-button-alt-bg-color);
        color: var(--mlbrgn-mle-button-alt-fg-color);
    }

}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

