/*
 * Modal core
 */

.mlbrgn-mle-component.theme-plain {

    &.modal {
        --modal-padding:20px;

        position:fixed;
        top:50%;
        left:50%;
        box-sizing:border-box;
        transform: translate(-50%,-50%);
        width: 100vw;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1050;
        //overflow:hidden;

        &.active {
            display: flex;
            //.media-modal-dialog {
            //    transform: translateY(0);
            //}
        }

        &.fade {
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s ease;
        }

        &.fade.active {
            opacity: 1;
            pointer-events: auto;
        }

        // NEW: slide effect on dialog
        .modal-dialog {
            transform: translateY(-40px);
            transition: transform 0.3s ease;
        }

        &.fade.active .modal-dialog {
            transform: translateY(0);
        }
    }

    .modal-dialog {
        max-width:calc(100% - (2 * var(--modal-padding)));
        max-height:calc(100% - (2 * var(--modal-padding)));
        //border:10px solid yellow;
        border-radius:.5em;
        width:100%;
        height:100%;
        margin:0;
        overflow:hidden;

        // begin slide down effect
        //transform: translateY(-40px);
        //transition: transform 3s ease;
        // end slide down effect
    }

    .modal-body {
        width:100%;
        height:100%;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }

    .modal-content {
        width:100%;
        height: 100%;
        padding:0;
        border: 0;
        box-sizing:border-box;
    }

    .modal-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 3;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: .25em;
        background-color: rgb(from var(--mlbrgn-mle-control-bg-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        color: var(--mlbrgn-mle-control-fg-color);
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-close-button:hover {
        background-color: rgb(from var(--mlbrgn-mle-control-hover-bg-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        color: var(--mlbrgn-mle-control-hover-fg-color);
    }

    .modal-close-button svg {
        width: 100%;
        height: 100%;
        vertical-align: baseline;
    }

    .modal-close-button:focus-visible {
        outline: 4px solid rgb(from var(--mlbrgn-mle-control-focus-outline-color) r g b / var(--mlbrgn-mle-control-bg-opacity));
        outline-offset: 0;
        border-radius:0.5em;
    }

}
