name: PHP Linting (Pint)
on:
  workflow_dispatch:
  push:

jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@2.6
        with:
          preset: psr12
